
<!-- particles.js container -->
<div id="particles-js">
  <p class="homepage-banner-header">RIDERS</p>
  <p class="homepage-banner-subheader"><span style="color: #05F4B7">buy</span> or <span style="color: #371BB1">sell</span> sport's equipment</p>
  <form class="form-inline homepage-banner-form">
    <input class="form-control mr-sm-2" type="search" placeholder="type..." aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit">Search</button>
  </form>
</div>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
