.navbar-lewagon {
  justify-content: space-between;
  background: #12151F;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color:white !important;
  margin-right: 20px !important;
}

.nav-link:hover {
  color: $primary-green !important;
  font-size: 1.1rem !important;
}

.nav-link-sell {
  color: $primary-green !important;
}

.navbar {
  padding: 10px 30px;
}
